@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap');

html {
    height: 100%;
}

body {
    margin: 0px;
    height: 100%;
    background-color: #223355;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

#main {
  display: flex;
  height: 100%;
  margin: 0px;
  width: 100%;
}

#logo {
    float: right;
    font-size: 140px;
    font-weight: 900;
    text-align: right;
    color: #FFFFFF;
    transform: translate(-145px , 0px ) rotate(-90deg);
    transform-origin: top right;
}

#center {
    background: #334466;
    flex: 0 0 800px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
}

#center-content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#menu {
    flex: 0 0 50px;
    display: flex;
}

#list {
    flex: 1 1 100px;
}

#left {
    flex: 1 0 100px;
    overflow: hidden;
}

#right {
    flex: 1 0 100px;
}

.btn {
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

#btn_a {
    flex: 1 1;
    background-color: #5566CC;
}
#btn_b {
    flex: 1 1;
    background-color: #6677DD;
}
#btn_c {
    flex: 1 1;
    background-color: #7788EE;
}
#btn_d {
    flex: 1 1;
    background-color: #8899FF;
}
