@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@300;500&display=swap');

/* built-in */

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;    
    font-size: 18px;
    font-weight: 300;
    font-family: 'Commissioner', sans-serif;    
    background-color: #223355;
}

img {
    margin: auto;
    display: block;
    max-width: 100%;
    max-height: 100%;
    box-shadow : 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

a {
    color: #003300;
    font-weight: 500;
}

h1 {
    font-size: 22px;
    font-weight: 500;
    margin-block-start: 0px;
}

h6 {
    font-style: italic;
}

p {
    margin-block-start: 0px;
    margin-block-end: 10px;
}

code {
    white-space: break-spaces;
    overflow-wrap: break-word;
    font-size: 14px;
    font-family: monospace;
    line-break: auto;
}

textarea,input {
    font-family: 'Commissioner', sans-serif;    
    font-weight: 300;
}

textarea:focus, input:focus{
    outline: none;
}

/* page structure */

#main {
    width: 100%;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

#main_top {
    flex: 1 1;
    width: 100%;
    margin: 0px auto;
    background-color: #445577;
    z-index: 100;
    box-shadow : 0px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

#main_bottom {
    flex: 1 1 100%;
    display: flex;
    overflow: hidden;
}

#main_top_menu {
    flex: 0 0;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    max-width : 800px;
}

.main_top_menu_btn {
    color: white;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

#main_bottom_left {
    flex: 1 1;
    overflow: hidden;
}

#main_bottom_right {
    z-index: -1;
    flex: 1 1;
    overflow: hidden;
}

#main_bottom_center {
    flex: 0 0 100%;
    height: 100%;
    margin: 0px;
    max-width: 800px;
    background: #334466;
}

#main_list {
    height: 100%;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #DDEEFF;
}

/* fix elements */

#milgra_search_input {
    flex: 1 1;
    color: white;
    border : none;
    font-size : 18px;
    text-align: right;
    background-color : #445577;
    margin-right: 10px;
}

#main_logo_0 {
    float: right;
    font-size: 350px;
    font-weight: 500;
    text-align: right;
    color: #334466;
    transform: translate(-270px , 10px ) rotate(-90deg);
    transform-origin: top right;
}

#main_logo_1 {
    font-size: 350px;
    font-weight: 500;
    text-align: left;
    color: #334466;
    letter-spacing: -20px;
    transform: translate(-50px , -230px ) rotate(0deg);
}

#main_logo_2 {
    float: right;
    font-size: 300px;
    font-weight: 500;
    right: 0px;
    text-align: right;
    color: #334466;
    letter-spacing: -20px;
    transform: translate(240px,100px) rotate(-90deg);
}

/* list items */

.list_item_folder {
    box-sizing: border-box;
    width: 100%;
    font-style: italic;    
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #CCDDEE;
}

.list_item_file {
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 15px;
    background-color: #DDEEFF;
}

.list_item_viewer {
    box-sizing: border-box;
    width: 100%;
    cursor: auto;
    text-align: justify;
    padding: 10px;
    background-color: #DDEEFF;
}

.list_item_info {
    display: relative;
    float: right;
}

.article_item {
    box-shadow : 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
    padding : 15px;
    margin : 0px;
    box-sizing: border-box;
    background-color: #FFFFEE;
}

/* comments */

nick {
    display: block;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    color: red;
}

comment {
    display: block;
    padding-left: 10px;
    font-size: 15px;
    font-style: italic;
    padding-bottom: 10px;
}

.comment_box {
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: #EEFFFF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment_add_btn {
    width: 100%;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;
    box-sizing: border-box;
    font-style: italic;
    text-align: right;
    border-bottom: 1px solid #AABBDD;
}
    
.comment_form {
    display: block;
    font-size: 15px;
    box-shadow: 0px 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.comment_editor_nick {
    box-sizing: border-box;
    border: none;
    display: block;
    margin-top: 5px;
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    background-color: #EFFFFF;
    color: black;
    width: 100%;
}

.comment_editor_text {
    box-sizing: border-box;
    display: block;
    border: none;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    background-color: #EAFAFA;
    color: black;
    width: 100%;
}

.comment_editor_send {
    cursor: pointer;
    display: block;
    padding: 10px;
    font-size: 18px;
    background-color: #DAEAEA;
    color: black;
}
